*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all ease-in;
    transition-duration: 0.5s;
}

body{
    background-color: #735797;

}

p{
    display: none;
}

.pokeball{
    display: none;
}

.container{
    background-image: url(./7326561650359204.jpg);
    background-size: cover;
    justify-content: center;
    margin: 20px auto;
    padding: 0.75rem;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 1rem;
    text-align: center;
}

img{
    width: 250px;
    padding: 0.5rem;
}

.box{
    width: auto;
    height: auto;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 7px 7px 15px ;
    flex-grow: 1;
}

#box1{
    background-color: #d3964c;
}

#box2{
    background-color: #1a8e1c;
}

#box3{
    background-color: #f77819;
}

#box4{
    background-color: #7fe5d8;
}

#box5{
    background-color: #e8b5a6;
}

#box6{
    background-color: #1a93d6;
}

#box7{
    background-color: #e29c37;
}

#box8{
    background-color: #c6a86d;
}

#box9{
    background-color: #3662ce;
}

#box10{
    background-color: #8b4fe0;
}

#box11{
    background-color: #0d5c9e;
}

#box12{
    background-color: #e2bf91;
}



@media (max-width:1200px) {

    .container{
        flex-direction: column;
    }
    
    .box{
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    img{
        width: 70px;
    }

    .box:hover{
        background-image: url(./Map_Kanto_Route_1.png); 
    }

    p{
        display: inline-block;
        font-size: 2rem;
        padding: 2rem;
        color: white;
        font-weight: 900;
        text-shadow: 2px 2px 4px black;
    }

    .pokeball{
        display: inline-block;
    }

    .Type{
        display: none;
    }

}

@media (max-width: 650px){


    img{
        width: 200px;
    }

    .box{
        display: flex;
        flex-flow: column;
        justify-content: center
    }
 

    .container{
       flex-direction: column;
    }

    .pokeball{
        display: none;
    }

    P{
      display: block;
      font-size: 2rem;
      font-weight: 700;
      text-shadow: 2px 2px 4px black;
    }
 
    .Type{
      display: block;
      width: 150px;
      padding: 0.4rem;
      margin: 0.2rem;
      border-radius: 5px;
      justify-content: center;
      align-content: center;
      text-align: center;
    }
 
    #psychic{
        background-color: #F95587;
    }
 
    #grass{
        background-color: #7AC74C;
    }
 
    #poison{
        background-color: #A33EA1;
    }
   
    #bug{
        background-color: #A6B91A;
    }
 
    #fire{
        background-color: #ee4d30;
    }
 
    #dragon{
        background-color: #6F35FC;
    }
 
    #normal{
        background-color: #A8A77A;
    }
 
    #ghost{
        background-color: #735797;
    }
 
    #fairy{
        background-color: #D685AD;
    }
 
    #fighting{
        background-color: #C22E28;
    }

    #water{
        background-color: #6390F0;
    }

    #flying{
        background-color: #A98FF3;
    }
}